.listWrapper {

    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
    border: .25rem black solid;
    padding: 1.25rem;
    font-size: 1.25rem;

    li {
        &:first-child {
            text-align: start;
        }
        text-align: center;
        list-style: none;

        button {
            display: flex;
            cursor: pointer;
            border: none;
            background: transparent;
            font-weight: bold;
            font-size: 1.25rem;
            font-family: 'Work Sans', sans-serif;
        }

        
    }
}

.message {
    display: flex;
    justify-content: center;
    font-size: 2rem
}